
/*seg_tablet_include.css*/

/*s-fonts.css*/
@font-face {
	font-family: 'SegoeUI';
	src: url('/axpoint/css/fonts/segoe-ui-webfont.woff') format('woff'),
		 url('/axpoint/css/fonts/segoe-ui-webfont.ttf') format('truetype'),
		 url('/axpoint/css/fonts/segoe-ui-webfont.svg#SegoeUINormal') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'SegoeUI';
	src: url('/axpoint/css/fonts/segoe-ui-bold-webfont.woff') format('woff'),
		 url('/axpoint/css/fonts/segoe-ui-bold-webfont.ttf') format('truetype'),
		 url('/axpoint/css/fonts/segoe-ui-bold-webfont.svg#SegoeUINegreta') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'SegoeUI';
	src: url('/axpoint/css/fonts/segeo-ui-light-webfont.woff') format('woff'),
		 url('/axpoint/css/fonts/segeo-ui-light-webfont.ttf') format('truetype'),
		 url('/axpoint/css/fonts/segeo-ui-light-webfont.svg#SegoeUILight') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'SegoeUI';
	src: url('/axpoint/css/fonts/segeo-ui-semibold-webfont.woff') format('woff'),
		 url('/axpoint/css/fonts/segeo-ui-semibold-webfont.ttf') format('truetype'),
		 url('/axpoint/css/fonts/segeo-ui-semibold-webfont.svg#SegoeUISemibold') format('svg');
	font-weight: 600;
	font-style: normal;
}


/*s-page.css*/
* {font-family: "Lucida Sans Unicode", 'Lucida Grande', Arial, sans-serif; color: #666666;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}
html {min-height: 100%;}
body {background: #ffffff url(/img/bg_body.png) repeat-x top left; margin: 0; overflow-y: scroll; overflow-x: hidden; text-align: center;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dd, dt {padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, p, li, dd, dt, span, a {line-height: 1em; font-weight: normal;}
ul {list-style: none;}
a {text-decoration: none; cursor: pointer;}
img {border: 0; display: block;}
form, fieldset, label, input, select, textarea {padding: 0; margin: 0; font-weight: normal;}
fieldset {border: none;}
input, select, textarea {font-size: 14px; color: #444444;}
input, textarea {outline: none;}
a, span {font-size: inherit; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; color: inherit; text-transform: inherit;}
em, strong {font-size: inherit; font-family: inherit; line-height: inherit; color: inherit; text-transform: inherit;}
h1 {padding: 0 20px 20px; font-size: 24px; line-height: 30px; color: #911b1b;}
h2 {padding: 0 20px 20px; font-size: 18px; line-height: 22px; color: #911b1b;}
h3 {padding: 0 20px 10px; font-size: 13px; font-weight: bold; color: #911b1b;}
h4 {padding: 0 20px 5px; font-size: 13px; font-weight: bold;}
h5 {padding: 0 20px 2px; font-size: 13px; font-weight: bold;}
h6 {padding: 0 20px 2px; font-size: 13px; font-weight: bold;}
p {padding: 0 20px 20px; font-size: 14px; line-height: 20px;} 
ul,
ol {font-size: 0;}
li {font-size: 13px; line-height: 1.25em;}
dl {font-size: 0;} 
dt, 
dd {display: inline-block; vertical-align: top; font-size: 13px; line-height: 1.25em;}
#page {position: relative; min-height: 100%; min-width: 600px; margin: 0 auto; text-align: left;}
body.fixed #page {width: 960px;}


/*s-header.css*/
#header {overflow: hidden; height: 124px; border-bottom: 1px solid #f3f3f3; position: relative; height: 100px;}
#header .logo {z-index: 10; color: #911b1b; position: absolute; top: 50px; left: 20px; font-size: 30px; cursor: pointer;
	font-family: Georgia;
}
#header .servicenavigation {position: absolute; top: 9px; right: 20px;}
#header .servicenavigation li {display: inline-block; vertical-align: top; color: #999999;}
#header .servicenavigation li.navigation {display: none;}
#header .servicenavigation li:after {content: "\00a0\00a0|\00a0\00a0";}
#header .servicenavigation li:last-child:after {content: "";}


/*s-footer.css*/
#footer {text-align: left; border-top: 1px solid #f3f3f3; padding: 30px 0; min-width: 600px; margin: 0 auto;}
#footer .vcard {font-size: 0;}
#footer .vcard dl {display: inline-block; vertical-align: top; padding: 0 20px; width: 50%; box-sizing: border-box;}
#footer .vcard dt {display: block; color: #911b1b; font-size: 15px;}
#footer .vcard dd {display: block; color: #666666; padding-bottom: 20px;}


/*s-content.css*/
#content {position: relative;}
#content .scene {position: relative; padding: 50px 0;}
#content .scene .link {cursor: pointer;}
#content .scene a {color: #911b1b;}
#content .scene ul,
#content .scene ol {padding: 0 20px 15px;}
#content .scene ul.items {padding: 0;}
#content .scene ul.items li.item {display: block; padding-top: 20px; padding-bottom: 10px; border-top: 1px solid #dedede;}
#content .scene ul.items li.item h3 {position: relative; z-index: 1;}
#content .scene ul.tags {position: relative; z-index: 1; padding-bottom: 20px;}
#content .scene ul.tags li {font-size: 13px; display: inline-block; vertical-align: top; padding: 4px 0;}
#content .scene ul.tags li:after {content: "\00a0|\00a0"; color: #dedede;}
#content .scene ul.tags li:last-child:after {content: "";}
#content .scene li.item ul.tags {}
#content .errormessage {color: #df0000;}


/*s-pages.css*/
#content .scene.front {}
#content .scene.front ul.clients {border-top: 1px solid #911b1b; border-bottom: 1px solid #911b1b; margin-top: -50px; padding: 0; margin-bottom: 50px; overflow: hidden;
	background: linear-gradient(
	  to bottom,
	  transparent 36px,
	  #911b1b 37px,
	  transparent 37px
	);
}
#content .scene.front ul.clients li {display: inline-block; vertical-align: top; height: 36px;}
#content .scene.front ul.clients li a {display: block; padding: 10px 20px; font-size: 14px; color: #911b1b; cursor: pointer;}
#content .scene.front ul.clients li.selected a {color: #ffffff; background: #911b1b;}
#content .scene.front div.article {padding-bottom: 20px;}
#content .scene.front div.article ul.info {display: none;}
#content .scene.front div.contexts {padding-bottom: 20px;}
#content .scene.front div.contexts ul.contexts {display: block;}
#content .scene.front div.contexts ul.context_options {padding: 0;}
#content .scene.front div.contexts ul.context_options li {display: inline-block; border: 1px solid #911b1b; margin: 3px 3px 3px 0;}
#content .scene.front div.contexts ul.context_options li a {padding: 6px 12px; display: block;}
#content .scene.front div.contexts ul.context_options li.selected a {background-color: #911b1b; color: #ffffff;}
#content .scene.front div.products div.filter li {cursor: pointer;}
#content .scene.front div.products div.filter li.selected {color: #911b1b;}
#content .scene.front div.products ul.products {}
#content .scene.front div.products ul.products li.product {width: 33.333%; box-sizing: border-box; display: inline-block; vertical-align: top;}
#content .scene.front div.products ul.products li.product div.image {margin: 0 20px 10px;}
#content .scene.front div.products ul.products li.product div.image img {width: 100%;}
#content .scene.front div.products ul.products li.product ul.tags,
#content .scene.front div.products ul.products li.product ul.info {display: none;}
#content .scene.product {}
#content .scene.product > ul.actions {padding-bottom: 20px;}
#content .scene.product div.product {font-size: 0; padding: 0 0 0 20px;}
#content .scene.product div.product div.image {width: 50%; display: inline-block; vertical-align: top;}
#content .scene.product div.product div.image img {width: 100%;}
#content .scene.product div.product div.text {width: 50%; display: inline-block; vertical-align: top; box-sizing: border-box; padding: 0 0 0 20px;}

/*s-form.css*/
#content .scene.login form {padding-bottom: 20px;}
#content .scene.login fieldset {border: none; display: block;}
#content .scene.login .field {padding: 0 18px 10px; position: relative; font-size: 0; z-index: 1;}
#content .scene.login .field label {display: none;}
#content .scene.login .field input {width: 266px; height: 24px; padding: 2px 6px; box-shadow: inset 0 1px 2px #dedede; background: #ffffff; border: 1px solid #dcdcdc; display: inline-block; vertical-align: top; border-radius: 3px; margin: 2px; outline: none; position: relative; z-index: 1;}
#content .scene.login .field.focus input {margin: 0; border: 3px solid #5c5c5c;}
#content .scene.login .field.error input {margin: 0; border: 3px solid #f8c9bb;}
#content .scene.login .field input.default {color: #aaaaaa;}
#content .field .indicator {position: absolute; top: 4px; left: 305px; width: 25px; height: 25px;}
#content .field.required .indicator {
	background: transparent url(/janitor/admin/img/bg_icons.png) no-repeat 0 -292px;
}
#content .field.correct .indicator {background-position: 0 -320px;}
#content ul.actions {padding: 0 20px;}
#content ul.actions li {width: auto; height: auto; display: inline-block; padding: 0 5px 10px 0; vertical-align: top;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
#content ul.actions input.button {width: auto; height: 26px; padding: 3px 10px;}
@media all and (-webkit-min-device-pixel-ratio:0) {
	#content ul.actions input.button {padding-bottom: 4px;
		-webkit-appearance: none;
	}
}
#content ul.actions a.button {display: block; text-decoration: none; height: 14px; padding: 5px 12px 7px;}
#content ul.actions input.button,
#content ul.actions a.button {font-size: 13px; line-height: 1.2em; background-color: #666666; color: #ffffff; border: none; cursor: pointer; border-radius: 3px;}
#content ul.actions input.button.primary,
#content ul.actions a.button.primary {background-color: #911b1b;}


/*s-active.css*/
#content ul.actions input.button:active,
#content ul.actions a.button:active {background-color: #aaaaaa;}
#content ul.actions input.button.primary:active,
#content ul.actions a.button.primary:active {background-color: #b25f5f;}

